
<div class="header">
  <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link" href="#about">마이페이지</a></li>
      <li class="nav-item"><a class="nav-link" href="#services">알림</a></li>
      <li class="nav-item"><a class="nav-link" href="#contact">회원가입</a></li>
  </ul>
</div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li></li>
      <li><a href="#" >질문게시판</a></li>
      <li><a href="#" >자유게시판</a></li>
      <li><a href="#" >자료게시판</a></li>
      <li><a href="#" >공지사항</a></li>
      <li><a href="#" >로그인</a></li>
    </ul>
  </div>
  <div id='center' class="main center">
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
    <div class="mainInner">
      <div>PURE CSS SIDEBAR TOGGLE MENU</div>
    </div>
  </div>
